li {
    cursor: pointer;
    list-style: none;
    width: 60%;
    background: #cacaca;
    border-radius: 8px;
    border: 2px solid #9c9b9b;
    padding: 1px;
    margin: 3px;
}


li:hover {
    box-sizing: border-box;
    border: 2px solid #478383;
    background: #edfff5;
}

.list {
    width: 80%;
    height: 100%;
    background: #e2e2e2;
    margin: 0 auto;
    padding: 5px;
    border-radius: 8px;
    border: 2px solid #616161;
}

.completed {
    border-color: #396b39;
}

li.completed::before {
    content: "Completed";
    /* writing-mode: vertical-rl;
    padding: 10px;*/
    border: 2px solid #396b39;
    /*color: #396b39;*/
    background: #91c99b;
    border-radius: 8px;
    position: relative;
    /*right: -55%;
    top: 35%;*/
}

.expired {
    border-color: #6b0d41;
}

.expired::before {
    color: #6b0d41;
    float: right;
    content: "Expired";
    writing-mode: vertical-rl;
    padding: .71em;
    position: relative;
    border: 1px solid #6b0d41;
    background: #b489a1;
    border-radius: 8px;
    top: 10%;
}