li {
    list-style: none;
}

body {
    background: rgb(150, 132, 132);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.35em;
}

.editMode {
    background: rgb(247, 203, 203);
}

.completed {
    color: green;
    font-style: italic;
    text-decoration: line-through solid green;
}

/* filter.js */
.filters {
    border: none;
}